<!-- <div class="table">  -->
<div class="data-table">
    <div class="table-header">
        <div class="table-row">
            <div>No.</div>
            <div>Task Name</div>
            <div>Description</div>
            <div>Due Date</div>
            <div>Status</div>
        </div>
    </div>
    <div class="table-body">
        <% if (task_data.data.page <= (task_data.data.pageCount)) { %>
            <% task_data.data.tasks.forEach((element) => { %>
            <div class="table-row">
                <div><%= element.id %>.</div>
                <div><%= element.task_name %></div>
                <div><%= element.task_description %></div>
                <div><%= element.due_date %></div>
                <div id="table-checkbox">
                    <input class="checkbox" type="checkbox" name="checkbox" value="true">
                </div>
            </div>
            <% }) %>
        <% } else {%>
            <div class="table-row" style="display: flex; justify-content: center; font-weight: bold;">
                <div>No Task Available</div>
            </div>
        <% } %>
    </div>
</div>
<!-- Dibikin form -->
<% if (task_data.data.page > 1) { %>
    <a href=<%= `/?page=${task_data.data.page - 1}` %> class="table-pagination-button"><</a>
<% } %>
<% if (task_data.data.page < (task_data.data.pageCount)) { %>
    <a href=<%= `/?page=${task_data.data.page + 1}` %> class="table-pagination-button">></a>
<% } %>