<!-- <div class="table">  -->
<div class="data-table">
    <div class="table-header">
        <div class="table-row">
            <div>No.</div>
            <div>Task Name</div>
            <div>Description</div>
            <div>Due Date</div>
            <div>Option</div>
        </div>
    </div>
    <div class="table-body">
        <% if (task_data.data.page <= (task_data.data.pageCount)) { %>
            <% task_data.data.tasks.forEach((element, index) => { %>
            <div class="table-row">
                <div><%= index + 1 + ((task_data.data.page - 1) * 10) %> .</div>
                <div><%= element.title %></div>
                <div><%= element.description %></div>
                <div><%= element.due_date %></div>
                <div class="table-button">
                    <button class="delete-button" id="delete-button" data-task-id="<%= element.id %>">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            <% }) %>
        <% } else {%>
            <div class="table-row" style="display: flex; justify-content: center; font-weight: bold;">
                <div>No Task Available</div>
            </div>
        <% } %>
    </div>
</div>
<!-- Dibikin form -->
<% if (task_data.data.page > 1) { %>
    <a href=<%= `/?page=${task_data.data.page - 1}` %> class="table-pagination-button"><</a>
<% } %>
<% if (task_data.data.page < (task_data.data.pageCount)) { %>
    <a href=<%= `/?page=${task_data.data.page + 1}` %> class="table-pagination-button">></a>
<% } %>

<script src="/js/index-script.js"></script>